@model WebsiteMVC.Models.HocHam

@{
    ViewBag.Title = "HỌC HÀM";
    Layout = "~/Views/Shared/_LayoutAmin.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.MaHocHam)
                @Html.HiddenFor(model => model.Active)

                <div class="form-group">
                    @Html.Label("Tên học hàm", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TenHocHam, new { htmlAttributes = new { @class = "form-control", required = "true" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Định mức giảng", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.DMG, new { htmlAttributes = new { @class = "form-control", required = "true", type = "number" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Hệ số K", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.HeSo, new { htmlAttributes = new { @class = "form-control", required = "true", type = "number", Step = "0.1" } })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn green" />
                        <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-list"></i> DANH SÁCH HỌC HÀM</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


