@model WebsiteMVC.Models.DNDoiGio

@{
    ViewBag.Title = "ĐỀ NGHỈ ĐỔI THỜI GIAN DẠY";
    Layout = "~/Views/Shared/_LayoutAmin.cshtml";
    var MaLichGD2s = ViewBag.MaLichGD2s as List<WebsiteMVC.Models.LichGD>;
}


<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        <h2>Đề nghị đổi giờ</h2>

        <ul>
            <li>Môn học: @Model.LichGD.PCGD.LopHP.MonHoc.TenMonHoc</li>
            <li>Lớp: @Model.LichGD.PCGD.LopHP.TenLop</li>
            <li>Mã học phần: @Model.LichGD.PCGD.LopHP.MaHocPhan</li>
            <li>Giáo viên: @Model.LichGD.PCGD.GV.HoTen</li>
            <li>Ngày bắt đầu: @Model.LichGD.NgayBD.Value.ToString("dd/MM/yyyy")</li>
            <li>Ngày kết thúc: @Model.LichGD.NgayKT.Value.ToString("dd/MM/yyyy")</li>
        </ul>

        <h4>Vui lòng chọn thời gian của giáo viên khác để yêu cầu đổi:</h4>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.MaDN)
                @Html.HiddenFor(model => model.MaLichGD)
                @Html.HiddenFor(model => model.Status)
                @Html.HiddenFor(model => model.NgayTao)

                <div class="form-group">
                    <div class="col-md-12">
                        <table class="table table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <th>Giáo viên</th>
                                    <th>Lớp </th>
                                    <th>Tiết</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var gr in MaLichGD2s.GroupBy(q => q.PCGD.MaGV))
                                {
                                    var grbylop = gr.GroupBy(q => q.PCGD.MaHP);
                                    <tr>
                                        <td rowspan=" @(gr.Count() + grbylop.Count() + 1)"> @gr.First().PCGD.GV.HoTen</td>
                                        <td colspan="2" style="display: none"></td>
                                    </tr>
                                    foreach (var gr_lop in grbylop)
                                    {
                                        <tr>
                                            <td rowspan="@(gr_lop.Count() + 1)">
                                                @gr_lop.First().PCGD.LopHP.MonHoc.TenMonHoc -
                                                @gr_lop.First().PCGD.LopHP.TenLop
                                            </td>
                                            <td style="display: none"></td>
                                        </tr>
                                        foreach (var item in gr_lop)
                                        {
                                            <tr>
                                                <td>
                                                    <label>
                                                        @Html.RadioButtonFor(q => q.MaLichGD2, item.MaLichGD, new { required = "true" })  @if (item.Thu > 0)
                                                        {
                                                            <b> Thứ @(item.Thu + 1)</b>
                                                        }
                                                        else
                                                        {
                                                            <b>Chủ nhật</b>
                                                        }  - tiết @item.Tiet
                                                    </label>

                                                </td>

                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn green" />
                        <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-list"></i> DANH SÁCH ĐƠN ĐỀ NGHỊ</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

