@model WebsiteMVC.Models.NamHoc

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAmin.cshtml";
}
<div class="panel panel-default">
    <div class="panel-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IDNamHoc)
                @Html.HiddenFor(model => model.Active)
                @Html.HiddenFor(model => model.TrangThai)


                <div class="form-group">
                    @Html.LabelFor(model => model.KyHoc, "Kỳ học", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2">Kỳ </span>
                            @Html.EditorFor(model => model.KyHoc, new { htmlAttributes = new { @class = "form-control", required = "true", type = "number", @Value = Model?.KyHoc } })
                        </div>
                    </div>

                    @Html.LabelFor(model => model.NamHoc1, "Năm học", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2">Năm học </span>
                            @Html.EditorFor(model => model.NamHoc1, new { htmlAttributes = new { @class = "form-control", required = "true" } })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BatDau, "Bắt đầu ", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2">Bắt đầu </span>
                            @Html.TextBoxFor(model => model.BatDau, new { @class = "form-control", @Value = Model.BatDau?.ToString("yyyy-MM-dd"), required = "true", type = "date" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.KetThuc, "Kết thúc", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon2">Kết thúc </span>
                                @Html.TextBoxFor(model => model.KetThuc, new { @class = "form-control", @Value = Model.BatDau?.ToString("yyyy-MM-dd"), required = "true", type = "date" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn green" />
                        <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-list"></i> DANH SÁCH NĂM HỌC</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
