@model WebsiteMVC.Models.LopHP

@{
    ViewBag.Title = "LỚP HỌC PHẦN";
    Layout = "~/Views/Shared/_LayoutAmin.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.MaHP)
                @Html.HiddenFor(model => model.Active)

                <div class="form-group">
                    @Html.Label("Năm học", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.IDNamHoc, ViewBag.IDNamHocs as SelectList, "Vui lòng chọn", new { @class = "form-control", required = "true" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Môn học", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(q => q.MaMH, ViewBag.MaMH as SelectList, "Vui lòng chọn", htmlAttributes: new { @class = "form-control", required = "true" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Mã học phần", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.MaHocPhan, new { @class = "form-control", required = "true" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Số tiết TKB", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.SoTietTKB, new { @class = "form-control", required = "true" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("LHDT", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select name="LHDT" required class="form-control">
                            <option value="">Vui lòng chọn</option>
                            <option value="DH">DH</option>
                            <option value="CH">CH</option>
                            <option value="LT">LT</option>
                            <option value="CD">CD</option>
                            <option value="AT">AT</option>
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    @Html.Label("Kíp", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select name="Kip" required class="form-control">
                            <option value="">Vui lòng chọn</option>
                            <option value="H">H</option>
                            <option value="N">N</option>
                            <option value="NN">NN</option>
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    @Html.Label("Địa điểm", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select name="DiaDiem" required class="form-control">
                            <option value="">Vui lòng chọn</option>
                            <option value="HN">Khu A Hà Nội</option>
                            <option value="HN">
                                Xuân Phương - Hà nội
                            </option>
                            <option value="VY">
                                Khu 125 Vĩnh Yên
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Tên lớp", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.TenLop, new { @class = "form-control", required = "true" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Sĩ số", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.SiSo, new { @class = "form-control", required = "true" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("TGTHIKT", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.TGTHIKT, new { type = "date", Value = Model.TGTHIKT?.ToString("yyyy-MM-dd") })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Hình thức thi", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.HinhThucThi, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn green" />
                        <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-list"></i> DANH SÁCH LỚP HỌC PHẦN</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    $("[name=@nameof(Model.LHDT)]").val('@Model.LHDT');
    $("[name=@nameof(Model.MaMH)]").val('@Model.MaMH');
    $("[name=@nameof(Model.Kip)]").val('@Model.Kip');
    $("[name=@nameof(Model.DiaDiem)]").val('@Model.DiaDiem');
</script>