@model WebsiteMVC.Models.NCKH

@{
    ViewBag.Title = "NGHIÊN CỨU KHOA HỌC";
    Layout = "~/Views/Shared/_LayoutAmin.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body">@ViewBag.Title</div>
    <div class="panel-body">
        @using (Html.BeginForm("Edit", "NCKH", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.MaNCKH)
                @Html.HiddenFor(model => model.MaGV)
                @Html.HiddenFor(model => model.TaiLieu)

                <div class="form-group">
                    @Html.Label("Thời gian nghiên cứu", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ThoiGian, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Số giờ nghiên cứu", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.TextBoxFor(model => model.SoGioNC, new { @class = "form-control", type = "number" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Hạng mục", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HangMuc, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Nội dung", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.NoiDung, new { @class = "form-control", rows = "15" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Tài liệu", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @if (string.IsNullOrWhiteSpace(Model.TaiLieu) == false)
                        {
                            <p>Đã tải lên 1 file. <a href="@Model.TaiLieu" download="">Tải xuống</a></p>
                        }
                        <label>
                            <input type="file" name="TaiLieu" value="" /> Tải tài liệu mới
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn green" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>

