@using WebsiteMVC.Models
@model IEnumerable<WebsiteMVC.Models.LichGD>

@{
    var pcgd = ViewBag.PCGD as WebsiteMVC.Models.PCGD;
    ViewBag.Title = $"LỊCH GIẢNG DẠY - LỚP {pcgd.LopHP.TenLop} - GV: {pcgd.GV.HoTen}";
    var per = WebsiteMVC.Models.LoginHelper.IsRole(eRole.Admin, eRole.CanBoQuanLy);
}

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>@ViewBag.Title
        </div>
    </div>
    <div class="portlet-body">
        @if (per)
        {
            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn-group">
                            <a href="@Url.Action("Edit",new { MaPCGD = pcgd.MaPCGD })" id="sample_editable_1_new" class="btn green">
                                Thêm <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }

        <table class="table table-bordered" id="table">
            <thead>
                <tr>
                    <th>
                        Ngày Bắt đầu
                    </th>
                    <th>
                        Ngày Kết thúc
                    </th>
                    <th>
                        Thứ
                    </th>
                    <th>
                        Tiết
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(item.NgayBD?.ToString("dd-MM-yyyy"))
                        </td>
                        <td>
                            @(item.NgayKT?.ToString("dd-MM-yyyy"))
                        </td>
                        <td>
                            @if (item.Thu == 0)
                            {
                                <label>Chủ nhật</label>
                            }
                            else
                            {
                                <label>Thứ @(item.Thu + 2)</label>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tiet)
                        </td>
                        <td>
                            @if (WebsiteMVC.Models.LoginHelper.GetAccount().MaGV == item.PCGD.MaGV)
                            {
                                <a href="@Url.Action("Edit","DNDoiGio",new { MaLichGD = item.MaLichGD })" id="sample_editable_1_new" class="btn green">
                                    <i class="fa fa-plus"></i> Đề nghị đổi giờ
                                </a>
                            }
                            @if (per)
                            {
                                <a href="@Url.Action("Edit",new { id = item.MaLichGD})" class="btn btn-primary"><i class="fa fa-pencil"></i> Sửa</a>
                                <span onclick="delete_object(this,'@item.MaLichGD')" class="btn btn-warning"><i class="fa fa-trash-o"></i> Xóa</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>


@section css{
    <link href="/Content/theme/assets/global/plugins/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" />
}

@section js{
    <script type="text/javascript" src="/Content/theme/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/Content/theme/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>

    <script>
        $("#table").DataTable();

        function delete_object(target, id) {
            if (confirm("Bạn có muốn xóa không?")) {
                $.ajax({
                    url: "@Url.Action("Delete")",
                    type: "POST",
                    data: { id: id },
                    success: function (d) {
                        if (d) {
                            $(target).closest("tr").remove();
                        } else {
                            alert("Xóa thất bại");
                        }
                    }
                })
            }
        }
    </script>
}